<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net462" />
  <package id="Google.Apis" version="1.61.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.61.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.61.0" targetFramework="net462" />
  <package id="Google.Apis.Gmail.v1" version="1.61.0.3105" targetFramework="net462" />
  <package id="Google.Apis.Oauth2.v2" version="1.61.0.1869" targetFramework="net462" />
  <package id="MailKit" version="4.1.0" targetFramework="net462" requireReinstallation="true" />
  <package id="Microsoft.Identity.Client" version="4.55.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net48" />
  <package id="MimeKit" version="4.1.0" targetFramework="net462" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Formats.Asn1" version="7.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" requireReinstallation="true" />
</packages>